<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="locale">
                <field id="hreflang_code" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Language Code</label>
                    <comment>Language code for a 'hreflang' tag</comment>
                </field>
            </group>
        </section>
    </system>
</config>